{% extends 'home/templ_0.html' %}

{% block title %}
{{ title }}
{% endblock %}

<main role="main" class="container">

{% block content %}
{% for el in project_detail %}
  {% if el.slug == project %}             {# Фильтр по ссылке если пришла переменная `project` #}

<div class="row">
    <div class="col-md-8 blog-main">
    <h3 class="pb-4 mb-4 font-italic border-bottom">Подробности хода проекта {{ el.title }}</h3>
        <div class="blog-post">
            <h2 class="blog-post-title">{{ el.title }}</h2>
            <p class="blog-post-meta">{{ el.create }} автор <a href="#">{{ el.author }}</a></p>
            <p> {{ el.description|safe }} </p> {# {{description|safe}} с параметром safe для коректного вывода из бд #}
        </div>
</div>
<!-- Обратить внимание на этот тэг class="row" -->
<!-- /.blog-main -->
  {% endif %}
{% endfor %}

{% endblock %}