{% extends 'base/templ0.html' %}

{% block title %}
{{ title }}
{% endblock %}


{% block projects %}
  <div class="row mb-2">
    {% if projects %} <!-- # если есть проекты # -->
        {% for el in projects %}
        <div class="col-md-6">
            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">{{ el.typeProject }}</strong>
                    <h3 class="mb-0">{{ el.titleProject }}</h3>
                    <div class="mb-1 text-muted">{{ el.dataTimeProject }}</div>
                    <p class="card-text mb-auto">{{ el.shortDescriptionProject|safe }}</p>
                    <!-- <p>Статус:{{ el.statusProject }}</p> -->
                    <div style="width:50%">
                        Прогрес:
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped active" role="progressbar"
                                 aria-valuenow="{{ el.progressProject }}%" aria-valuemin="0" aria-valuemax="100"
                                 style="width:{{ el.progressProject }}%">
                                {{ el.progressProject }}%
                            </div>
                        </div>
                    </div>
                    <a href="/detail?project={{ el.get_absolute_url }}" class="stretched-link">Подробнее</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img width="200" height="250"
                         src="https://easycraft.by/image/NA396/ESP32-development-board-WIFI-Bluetooth-networking-smart-component-ESPWROOM32-ESP-32S.jpg"
                         alt="..." class="rounded">
                </div>
            </div>
        </div>
        {% endfor %} <!-- # если нет проетов # -->
    {% else %}
      <div class="alert alert-info mt-2">
          <p>У нас нет проектов</p>
      </div>
      {% endif %}
  </div>
{% endblock %}


{% block content %}

<h1>Добавить проект</h1>
<form method="post" class="form-group">

    {% csrf_token %}

    <div class="form-group">
        <label for="titleProject">
            Название проекта :
        </label>
        {{ forms.titleProject }}
        <small id="titleProjectHelp" class="form-text text-muted">
            Введите название проекта
        </small>
    </div>

    <div class="form-group">
        <label for="typeProject">
            Тип проекта :
        </label>
        {{ forms.typeProject }}
        <small id="typeProjectHelp" class="form-text text-muted">
            Введите тип проекта
        </small>
    </div>

    {{ forms.dataTimeProject }}<br>

    <div class="input-group">
        <div class="input-group-prepend">
        <span class="input-group-text">Короткое <br> описание <br> проекта</span>
    </div>
        {{ forms.shortDescriptionProject }}
</div>
<div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text">Полное <br> описание <br> проекта</span>
    </div>
    {{ forms.fullDescriptionProject }}
</div>
    {{ forms.authorProject }}<br>
    {{ forms.thumbnailProject }}
    <button type="submit">Добавить проект</button>
</form>
{% endblock %}