<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="container">
  <header class="blog-header py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-4 pt-1">
        <a class="text-muted" href="#">Подписывайся</a>
      </div>
      <div class="col-4 text-center">
        <a class="blog-header-logo text-dark" href="#">TechSpace</a>
      </div>
      <div class="col-4 d-flex justify-content-end align-items-center">
        <a class="text-muted" href="#" aria-label="Search">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24" focusable="false"><title>Search</title><circle cx="10.5" cy="10.5" r="7.5"/><path d="M21 21l-5.2-5.2"/></svg>
        </a>
        <a class="btn btn-sm btn-outline-secondary" href="#">Войти</a>
      </div>
    </div>
  </header>

  <div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
      <a type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Главная" href="{% url 'home' %}">Главная</a>
      <a type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Проекты" href="{% url 'project' %}">Проекты</a>
      <a type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Задачи" href="{% url 'tasks' %}">Задачи</a>
      <a type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Камера" href="{% url 'webcam' %}">Камера</a>
      <a type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Календарь" href="{% url 'currcalendar' %}">Календарь </a>
      <a type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Про нас" href="{% url 'about' %}">Про нас</a>
      <!--
      <a class="p-2 text-muted" href="#">Culture</a>
      <a class="p-2 text-muted" href="#">Business</a>
      <a class="p-2 text-muted" href="#">Politics</a>
      <a class="p-2 text-muted" href="#">Opinion</a>
      <a class="p-2 text-muted" href="#">Science</a>
      <a class="p-2 text-muted" href="#">Health</a>
      <a class="p-2 text-muted" href="#">Style</a>
      <a class="p-2 text-muted" href="#">Travel</a>
      -->
    </nav>
  </div>

  <div class="jumbotron p-4 p-md-3 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 font-italic">TechSpace</h1>
      <br>
      <h3 class="display-6">Открытая лаборатория технического творчества</h3>
      <br>
      <p class="lead my-3">#Открытая лаборатория технического творчества
        #ТэчСпэйс (#TechSpace) — мастерская-клуб, где энтузиасты могут заниматься любимым делом
        <!--
        , будь то
        радиолюбительство, конструирование, программирование, моделирование или даже художественное творчество.
        В мире существует множество #HackerSpace различной направленности, но, прежде всего, это — клубы технического творчества.
        Чем мы здесь занимаемся?

        Мы творим.
        Мы паяем, программируем, вырезаем из металла, пластика и дерева. Мы делаем роботов, дронов и строим станки ЧПУ. Мы собираем 3D-принтеры.
        Мы делаем печатные платы.
        Мы делимся опытом и совершаем ошибки.
        Придумываем новые проекты и улучшаем старые.
        #TechSpaceЖлобин, #TechSpaceZHL, #TechSpace, #ЖлобинскийTechSpace, #DIYcommunity, #3Dпринтер, #ЧПУфрезер, #паяльнаястанция, #Жлобин, #проекты, #сделайсам, #arduino
        -->
      </p>
      <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Подробнее...</a></p>
    </div>
  </div>
  {% block projects %}{% endblock %}
</div>
<main role="main" class="container">
    {% block content %}
    {% endblock %}
    <aside class="col-md-4 blog-sidebar">
      {% block tags %}
      {% endblock %}
      {% block archive %}
      {% endblock %}
      {% block social %}
      {% endblock %}
    </aside><!-- /.blog-sidebar -->
  </div><!-- /.row -->
</main><!-- /.container -->
<footer class="blog-footer">
  {% block footer %}
  {% endblock %}
  <!--
  <p>Blog template built for <a href="https://getbootstrap.com/">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
  <p>
    <a href="#">Back to top</a>
  </p>
  -->
  <div class="mx-auto">
    <center>
      <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
      Tooltip on top
      </button>
      <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="right" title="Tooltip on right">
      Tooltip on right
      </button>
      <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom">
      Tooltip on bottom
      </button>
      <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="left" title="Tooltip on left">
      Tooltip on left
      </button>
    </center>
  </div>
</footer>
</body>
</html>
